@model IEnumerable<List10.Models.Article>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<section class="left" width: 30%;>
    <ul style="list-style-type: none;">
        <li><a asp-action="Index"><b>Wszystko</b></a></li>

        @foreach (var item in ViewBag.Category)
        {
            <li><a asp-action="List" asp-route-id="@item.Id"><b>@item.Name</b></a></li>
        }
    </ul>
</section>
@if (!User.IsInRole("Admin"))
{
    <div>
        <a asp-action="Cart" class="btn btn-secondary" style="float: right">Cart</a>
    </div>
}


<section class="right" width: 60%;>
    <h1>Shop</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FormFile)
                </th>
            </tr>
        </thead>
        <tbody id="table">

            @foreach (var item in Model)
            {
                var pathToFile = item.FilePath != null ? "/upload/" + item.FilePath : "/image/" + "No.png";
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        <img style="height:50px" src="@pathToFile" />
                    </td>
                    <td>
                        @if (!User.IsInRole("Admin"))
                        {
                            <button onclick="AddToCart(@item.Id)" class="btn btn-success" data-id=@item.Id>
                                Add to Cart
                            </button>
                        }
                    </td>

                </tr>
            }
        </tbody>
    </table>
</section>

<div>
    <button onclick="load()">Zaladuj artykuly</button>
</div>

@section Scripts{
    <script>

        let from = 2;
        let to = 4;

        function load() {
            console.log("123");
            loadMore(from, to);
            from = from + 2;
            to = to + 2;
        }
        function loadMore(from, to) {
            $.ajax({
                type: "GET",
                url: "/api/ArticlesApi/get/" + from + "/" + to,
                dataType: "json",
                success: function (data) {
                    $.each(data, function (i, item) {
                        var row = $('<tr>');

                        row.append($('<td>').text(item.name));

                        row.append($('<td>').text(item.price));

                        row.append($('<td>').text(item.category.name));

                        var img = $('<img>');
                        var filepath = item.filePath != null ? "/upload/" + item.filePath : "/image/" + "No.png";
                        img.attr('src', filepath);
                        img.attr('style', "height:50px");
                        var imgCell = $('<td>').append(img);
                        row.append(imgCell);

                        var userRole = "@(User.IsInRole("Admin") ? "true" : "false")";
                        if (userRole == "false") {
                            var button = $('<button>').text("Add to cart");
                            button.addClass("btn btn-success").attr("type", "submit");
                            button.attr('onclick', 'AddToCart(' + item.id + ')');
                            var formCell = $('<td>').append(button);
                        }
                        row.append(formCell);

                        $('#table').append(row);
                    });
                }
            });
        }

        function AddToCart(id) {

            console.log("AddtoCart");
            $.ajax({
                type: "POST",
                url: "/Shop/AddToCart/" + id
            });

        }
    </script>
}