@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2 class="@ViewBag.type">@ViewBag.Message</h2>
<h2>
    Wpisana: @ViewBag.X
</h2>
<h2>
    Min: @ViewBag.Min
</h2>
<h2>Max: @ViewBag.Max</h2>
<h2>
    Proba: @ViewBag.Counter
</h2>

