@model IEnumerable<List10.Models.Article>

@{
    ViewData["Title"] = "IndexList";
}

<h1>List</h1>

<p>
    @ViewBag.myCategory
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormFile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        var pathToFile = item.FilePath != null ? "/upload/" + item.FilePath : "/image/" + "No.png";
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <img style="height:50px" src="@pathToFile" />
            </td>
        </tr>
        }
    </tbody>
</table>